html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  color: #2F3035;
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}

.menu__item+.menu__item {
  padding-left: 50px;
}

.header__box {
  display: flex;
}

.header__adress {
  position: relative;
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
}

.header__adress::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
  background-image: url('../images/svg/adress.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.user-list__item {
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #1C62CD;
  border-radius: 50%;
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  bottom: 0;
  left: 25px;
}