html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2F3035;
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 80px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* TABS */

.tabs-content {
  display: none;
}

.tabs-content--active {
  display: block;
}

/* HEADER */

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}

.menu__item+.menu__item {
  padding-left: 50px;
}

.header__box {
  display: flex;
}

.header__adress {
  position: relative;
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
}

.header__adress::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
  background-image: url('../images/svg/adress.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.user-list__item {
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #1C62CD;
  border-radius: 50%;
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  bottom: 0;
  left: 25px;
}

.menu-categories {
  background-color: #F0F0F4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;
}

.menu-categories__item {
  position: relative;
}

.menu-categories__link {
  padding: 15px 0 14px;
  display: block;
  height: 100%;
}

.menu-categories__link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  bottom: -3px;
  background-color: #1C62CD;
  height: 3px;
  transition: all 0.3s;
}

.menu-categories__link:hover {
  color: #000000;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

/* BANNER SECTION */

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider {
  position: relative;
  max-width: 870px;
  width: 100%;
  height: auto;
}

.banner-section__slider-img {
  object-fit: cover;
  min-height: 400px;
}

.banner-section__slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  width: 25px;
  height: 35px;
  cursor: pointer;
}

.banner-section__slider-btnprev {
  left: 20px;
}

.banner-section__slider-btnnext {
  right: 20px;
}

.banner-section__slider .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-section__slider .slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.banner-section__slider .slick-dots li.slick-active button {
  background-color: #fff;
}

.banner-section__slider .slick-dots button {
  padding: 0;
  margin: 0;
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sale-item__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sale-item__info {
  color: #fff;
  background-color: #1C62CD;
  text-transform: uppercase;
  padding: 8px 20px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.price {
  font-family: 'Barlow', sans-serif;
}

.sale-item__price {
  text-align: right;
}

.sale-item__price-new {
  position: relative;
  color: #1C62CD;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  margin-right: 6px;
  padding-right: 20px;
}

.sale-item__price-new::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  width: 15px;
  height: 18px;
  background-image: url('../images/svg/price-icon--blue.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale-item__price-old {
  position: relative;
  display: inline-block;
  padding: 2px 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  margin-right: 20px;
  background-image: url('../images/svg/old-price-line.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale-item__price-old::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 6px;
  width: 8px;
  height: 10px;
  background-image: url('../images/svg/price-icon--gray.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale-item__img {
  object-fit: contain;
}

.sale-item__title {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}

.sale-item__footer {
  background-color: #F0F0F4;
  padding: 25px 20px;
  font-size: 18px;
  line-height: 21px;
}

.sale-item__footer span {
  display: block;
  color: #1C62CD;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

/* SEARCH */

.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
  font-family: 'SFProDisplay-Bold', sans-serif;
  border-radius: 5px;
  background-color: #F0F0F4;
  font-weight: 700;
}

.search__content-form {
  display: flex;
}

.search__content-input {
  border: none;
  border-radius: 3px;
  background: #F0F0F4;
  padding: 17px 20px;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
}

.search__content-input::placeholder {
  color: #656464;
}

.search__content-btn {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  background: #1C62CD;
  border-radius: 3px;
  border: none;
  padding: 17px 41px;
  margin-left: -3px;
}

/* CATEGORIES */

.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item {
  margin-bottom: 30px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  width: 370px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 16px;
  transition: box-shadow 0.3s;
}

.categories__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories__item-imgbox {
  width: 50%;
  text-align: center;
}

.categories__item-img {
  max-width: 100%;
  height: auto;
}

.categories__item-title {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  transition: color 0.3s;
}

.categories__item:hover .categories__item-title {
  color: #1C62CD;
}

.categories__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.categories__item-text::after {
  content: url("../images/svg/detail-arrow.svg");
  padding-left: 2px;
}

/* PRODUCTS */

.products__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 25px;
}

.products__tabs {
  margin-bottom: 25px;
}

.products__tab+.products__tab {
  margin-left: 50px;
}

.products__tab {
  padding-bottom: 10px;
}

.products__tab.tab--active {
  border-bottom: 2px solid #1C62CD;
}

.products-slider__slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  width: 25px;
  height: 35px;
  cursor: pointer;
}

.products-slider__slider-btnprev {
  left: -3%;
}

.products-slider__slider-btnnext {
  right: -3%;
}

/* PRODUCTS ITEM*/

.product-item {
  position: relative;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 25px;
  width: 271px;
  min-height: 403px;
  transition: all 0.3s;
}

.product-item--sale::before {
  content: "SALE";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1C62CD;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  padding: 8px 15px;
  text-transform: uppercase;
}

.product-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.product-item:hover .product-item__title, .product-item:hover .product-item__price {
  color: #1C62CD;
}

.product-item:hover .product-item__hover-text {
  opacity: 1;
}

.product-item__hover-text {
  position: absolute;
  top: 30%;
  padding: 18px 21px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-item__img-box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item__title-box {
  font-weight: normal;
  padding: 10px 0;
}

.product-item__title {
  transition: color 0.3s;
}

.product-item__favor-btn {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
  z-index: 5;
  cursor: pointer;
}

.product-item__favor-btn::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 22px;
  background-image: url('../images/svg/heart.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.product-item__favor-btn--active::before {
  background-image: url('../images/svg/heart---blue.svg');
}

.product-item__basket-btn {
  width: 60px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
  background-color: #1C62CD;
  border: none;
  z-index: 5;
  cursor: pointer;
}

.product-item__basket-btn::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 30px;
  height: 23px;
  background-image: url('../images/svg/basket-white.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-item__price {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #2F3035;
  transition: color 0.3s;
  padding-top: 15px;
}

/* not-available info in product item*/

.product-item__not-available-box {
  display: none;
}

.product-item--not-available .product-item__not-available-box {
  display: block;
}

.product-item--not-available .product-item__price, .product-item--not-available .product-item__basket-btn {
  display: none;
}

.product-item__not-available {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.product-item__not-available-link {
  font-size: 16px;
  line-height: 19px;
  color: #1C62CD;
  text-decoration: underline;
}

.products__show-more {
  text-align: center;
  margin: 35px 0 80px;
}

.products__show-more-link {
  background-color: #F0F0F4;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 16px 43px;
}

/* BANNER */

.banner {
  margin-bottom: 80px;
}

/* RELATED */

.product-related {
  margin-bottom: 80px;
}

/* FOOTER */

.footer {
  background-color: #F0F0F4;
}

.footer__top {
  padding-top: 43px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-item {
  max-width: 200px;
}

.footer__top-news-letter {
  max-width: 295px;
}

.footer__top-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.footer_form {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.footer_form-input {
  background-color: #fff;
  border: none;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 12px;
  width: 100%;
}

.footer_form-input::placeholder {
  color: #C4C4C4;
}

.footer_form-btn {
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 16px;
  background-color: #1C62CD;
  border: none;
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
  color: #FFFFFF;
}

.footer-list {
  font-size: 14px;
  line-height: 22px;
}

.footer__top-social {
  width: 250px;
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.social-list__item+.social-list__item {
  margin-left: 30px;
}

.footer__bottom {
  padding: 46px 0 22px;
  display: flex;
  justify-content: center;
}

.footer__bottom-link {
  font-size: 10px;
  line-height: 12px;
  color: #48494D;
  margin: 0 40px;
}

/* breadcrumbs */

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs-list__item {
  display: inline-block;
  padding-right: 16px;
  margin-right: 8px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.breadcrumbs-list__item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 6px;
  height: 10px;
  background-image: url("../images/svg/back-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.breadcrumbs-list__item:last-child::after {
  display: none;
}

/* CATALOG */

.catalog {
  margin-bottom: 100px;
}

.catalog__title {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #2F3035;
  margin-bottom: 26px;
}

.catalog__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__filter-tags {
  display: flex;
}

.catalog__filter-tags-item-link {
  margin-right: 8px;
  padding: 5px 22px;
  background-color: #F0F0F4;
  border-radius: 3px;
  color: #696A6F;
}

.catalog__filter-tags-item-link:hover {
  color: #2F3035;
}

.catalog__filter-sort {
  display: flex;
}

.catalog__filter-btn {
  opacity: 0.7;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.catalog__filter-btn--active {
  opacity: 1;
}

.catalog__inner {
  display: flex;
}

.catalog__aside {
  min-width: 290px;
  margin-right: 10px;
}

.catalog__product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  margin-bottom: 30px;
}

/* PAGINATION */

.pagination {
  width: 100%;
  margin-top: 70px;
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-list__item {
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
  margin: 0 5px;
}

.pagination-list__item--active {
  border: 2px solid #1C62CD;
  color: #1C62CD;
}

.pagination-list__item a, .pagination-list__item span {
  display: block;
  padding: 6px 12px;
  border: 2px solid transparent;
}

/* ASIDE FILTER */

.aside-filter__tabs {
  display: flex;
  justify-content: space-between;
}

.aside-filter__tab {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  opacity: 0.7;
  color: #2F3035;
  width: 50%;
}

.aside-filter__tab span {
  position: relative;
}

.aside-filter__tab.tab--active {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: bold;
  opacity: 1;
}

.aside-filter__tab.tab--active span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1C62CD;
}

.aside-filter__item-drop {
  margin: 30px 0;
}

.aside-filter__item-title {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 26px;
}

.filter__item-drop {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.filter__item-drop::before {
  content: "";
  background-image: url("../images/svg/arrow_drop--down.svg");
  position: absolute;
  left: 0;
  top: 6px;
  width: 12px;
  height: 8px;
  transition: all 0.2s;
}

.filter__item-drop--active::before {
  transform: rotate(-180deg);
}

.aside-filter__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.aside-filter__content-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.aside-filter__content-box {
  width: 50%;
  margin-bottom: 10px;
}

.aside-filter__content--radio .aside-filter__content-box {
  width: 33%;
}

/* CATALOG FILTER CHECKBOX and RADIO */

.jq-checkbox, .jq-radio {
  width: 14px;
  height: 14px;
  box-shadow: none;
  background: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 1px;
  margin: 0px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jq-radio {
  border-radius: 50%;
}

.jq-checkbox.checked, .jq-radio.checked {
  background: #1C62CD;
  border: 1px solid transparent;
}

.jq-checkbox.focused, .jq-radio.focused {
  border: 1px solid black;
}

.jq-checkbox.checked .jq-checkbox__div {
  margin: 0;
  width: 8px;
  height: 6px;
  border: none;
  transform: rotate(0deg);
  background-image: url(../images/svg/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jq-radio.checked .jq-radio__div {
  background: none;
  box-shadow: none;
}

/* CATALOG FILTER RANGE */

.aside-filter__content--range {
  display: block;
}

.irs {
  margin-top: -15px;
}

.irs--round .irs-handle {
  background-color: #1C62CD;
  border: none;
  box-shadow: none;
  height: 10px;
  width: 10px;
  top: 31px;
  cursor: pointer;
}

.irs--round .irs-bar {
  top: 34px;
}

.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover {
  background-color: #c4c4c4;
}

.irs--round .irs-min, .irs--round .irs-max {
  top: 60px;
  background-color: transparent;
  text-decoration: underline;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Barlow', sans-serif;
  padding-left: 26px;
  visibility: visible;
}

.irs--round .irs-line {
  height: 1px;
}

.irs-min::before, .irs-max::before {
  position: absolute;
  left: 0;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.irs-min::before {
  content: "от ";
}

.irs-max::before {
  content: "до ";
}

/* CATALOG FILTER SELECT */

.aside-filter__item-list {
  margin: 46px 0 40px;
  display: flex;
  flex-direction: column;
}

.filter__item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  border-bottom: 2px solid #C4C4C4;
  font-family: 'SFProDisplay-Semibold', sans-serif;
  padding-bottom: 14px;
}

.filter__item-list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 26px;
}

.filter__item-list-select .jq-selectbox__select {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #48494D;
  height: 20px;
  padding: 0px 25px 0 10px;
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

.filter__item-list-select .jq-selectbox__trigger {
  border: none;
}

.filter__item-list-select .jq-selectbox__trigger-arrow {
  width: 12px;
  height: 8px;
  top: 5px;
  right: 9px;
  border: none;
  background-image: url(../images/svg/arrow_drop--down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
}

.filter__item-list-select.opened .jq-selectbox__trigger-arrow {
  transform: rotate(180deg);
}

.filter__item-list-select .jq-selectbox__dropdown {
  border-radius: 0;
  padding-top: 15px;
}

.filter__item-list-select.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #c4c4c4;
}

.filter__item-list-select.jq-selectbox li:hover {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.filter__item-list-select.jq-selectbox li.selected {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.fiter-more {
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.filter-more__btn {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1C62CD;
  font-size: 14px;
  line-height: 17px;
  color: #1C62CD;
  cursor: pointer;
  padding: 0;
  padding-bottom: 2px;
}

.filter__model-search {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #E0E0E0;
  padding: 7px 20px;
  font-size: 12px;
  line-height: 14px;
}
.filter__model-search::placeholder {
  color: #BDBEC2;
}